@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
	margin: 0;
	font-family: "Poppins";
}

main {
	display: grid;
	grid-template-columns: 1.2fr 1fr 1fr;
	min-height: 100%;
}

.panel {
	display: grid;
	grid-template-columns: 1fr;
}

.panel .text {
	background-color: #eeeee7;
	color: #323230;
	padding: 1.875em 3.75em;
}

.panel.about img,
.panel.photos img {
	min-width: 100%;
	min-height: 100%;
}

/* WELCOME PANEL */
.panel.welcome {
	background-color: #323230;
	padding: 1.875em 3.75em;
	grid-auto-rows: 1fr;
}

.panel.welcome nav a {
	color: #a8a8a8;
	text-decoration: none;
	margin-right: 1.25em;
}

.panel.welcome h1 {
	color: #eeeee7;
	font-size: 3rem;
}

.panel.welcome p {
	color: #a8a8a8;
	max-width: 540px;
	line-height: 2;
}

.panel.welcome footer {
	align-self: end;
}

/* ABOUT PANEL */
.panel.about {
	grid-template-rows: 3fr 1fr;
	overflow: hidden;
}

/* PHOTOS PANEL */
.panel.photos {
	grid-template-rows: 1fr 3fr;
	overflow: hidden;
}
